.navbar{
    height: 74px;
    background-color: #34C94B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 0px 32px;
}

.logo{
    width: 67px;
    height: 34px;
    /* margin-top: 0px;
    margin-left: 32px; */
}

.button{
    font-family: "proppins";
    font-size: 18px;
    font-weight: 600;
    color:#34C94B;
    align-items: center;
    background-color: #121212;
    width: 170px;
    height: 47px;
    padding: 10px 16px 10px 16px;
    margin-right: 32px;
    border-radius: 12px;
    border:1px;
    gap:10px
}



.searchbox{
    width: 568px;
    height: 52px;
}

.search{
    font-family: "Lato";
    width: 90%;
    height: 48px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
}

.searchbutton{
    font-family: "proppins";
    background-color: #FFFFFF;
    color: #121212;
    width: 10%;
    height: 48px;
    border:1px black solid;
    border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -ms-border-radius: 0px 8px 8px 0px;
    -o-border-radius: 0px 8px 8px 0px;
}

button:hover{
    cursor: pointer;
}

.searchLogo{
    width: 18px;
    height: 15px;
}
/* 
.searchbox{
    font-family: "Lato";
    width: 568px;
    height: 52px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../assets/search-icon.svg');
    background-position: 520px 15px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
} */
